# Task 4.7: Deriving New Variables

## Content of the script

### 1. Creating Price_label Column

### 2. Creating Busiest_day Column

### 3. Update busiest days, Slowest days and Regular busy

### 4. Check the values of this new column for accuracy. Note any observations in markdown format.

### 5. Create new column "busiest_period_of_day" to identify time periods "Most_orders", "Average_orders", and "Fewest_orders"

### 6. Print the frequency of "busiest_period_of_day" column

### 7. Export dataframe as pickle file to 'prepared Data' folder

In [2]:
# import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# This command tells python to remember a main folder path_Original Data
path_1= r'/Users/obinwannealisigwe/Desktop/Python/Achievement_4_Project_Obi/02. Data/Original Data'

In [4]:
# This command tells python to remember a main folder path_Prepared Data
path = r'/Users/obinwannealisigwe/Desktop/Python/Achievement_4_Project_Obi/02. Data/Prepared Data'

In [5]:
# Importing the 'df_merged' file into the Jupyter 
df_ord_prod_merge = pd.read_pickle(os.path.join(path, 'ord_prod_combined.pkl'))

In [6]:
df_ord_prod_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

## 1. Creating Price_label Column

In [7]:
# Create a subset
df = df_ord_prod_merge[:1000000]

In [9]:
# Define a function
def price_label(row):
    if row['prices'] <= 5:
        return 'Low range product'
    elif (row['prices'] > 5) and (row['prices'] <= 15):
        return 'Mid range product'
    elif row['prices'] > 15:
        return 'High range'
    else: return np.nan

In [10]:
df_ord_prod_merge['price_range'] = df_ord_prod_merge.apply(price_label, axis = 1)

In [11]:
# Apply the function
df['price_range'] = df.apply(price_label, axis = 1)

/var/folders/ld/rygzx5nj4x3ddd2l1z5rj3m80000gn/T/ipykernel_99423/2004007646.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis = 1)

In [12]:
#df['price_range'].value_counts(dropna = False)
df.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid range product
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid range product
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid range product
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid range product
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid range product

In [13]:
df.shape

(1000000, 15)

In [14]:
df['prices'].max()

24.5

In [15]:
df['price_range'].value_counts(dropna = False)

price_range
Mid range product    652638
Low range product    338018
High range             9344
Name: count, dtype: int64

In [16]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/ld/rygzx5nj4x3ddd2l1z5rj3m80000gn/T/ipykernel_99423/1169838859.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [17]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [18]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [19]:
df['price_range'].value_counts(dropna = False)

price_range
Mid range product    652638
Low range product    338018
High range             9344
Name: count, dtype: int64

## 2. Creating Busiest_day Column

In [20]:
# For-Loop on Instacart df
df_ord_prod_merge['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [21]:
# use for-loop to determine if orders are on 'busiest day' (0 = Saturday), 'least busy' (4 = Wednesday), or regularly busy (other days)
result = []

for value in ord_prod_merge["orders_day_of_week"]:
    if value == 0:
        result.append("Busiest day")
    elif value == 4:
        result.append("Least busy")
    else: 
        result.append("Regularly busy")

NameError: name 'ord_prod_merge' is not defined

In [ ]:
result

In [ ]:
# New column created for ord_prod_merge to view results in context
df_ord_prod_merge['busiest_day'] = result

In [ ]:
df_ord_prod_merge['busiest_day'].value_counts(dropna = False)

In [ ]:
print(df['orders_day_of_week'])

## 3. Update busiest days, Slowest days and Regular busy

In [ ]:
# Create column “busiest_days" from "orders_day_of_week" to identify two busiest days (0, 1), slowest days (3,4), or regularly busy (all other days).
result_1 = []

for value in ord_prod_merge["orders_day_of_week"]:
    if value == 0 or value == 1:
        result_1.append("Busiest days")
    elif value == 4 or value == 3:
        result_1.append("Slowest days")
    else: 
        result_1.append("Regularly busy")

In [ ]:
result_1

## 4. Check the values of this new column for accuracy. Note any observations in markdown format

In [ ]:
# Create new 'busiest_days' column in ord_prod_merge to view results in context.
df_ord_prod_merge['busiest_days'] = result_1

In [ ]:
df_ord_prod_merge['busiest_days'].value_counts(dropna = False)

In [ ]:
# Check output of ords_prods_merge with new "busiest days" column.
df_ord_prod_merge.head()

### Note: The total value counts for the ord_prod_merge dataframe are equal to the sum of all groupings. "Regularly busy", "Busiest days", and "Slowest days" The listed sums for each label match the sum totals for the qualifying days of the week. For example, the total for “Busiest days” is 11,864,412, which matches the sum of orders on days 0 (Sunday) and 1 (Monday)

## 5. Create new column "busiest_period_of_day" to identify time periods "Most_orders", "Average_orders", and "Fewest_orders"

In [ ]:
# check value counts in 'order_hour_of_day' column
df_ord_prod_merge['order_hour_of_day'].value_counts(dropna = False)

## The value counts are splitted in the following labels: "Most orders" = 10,11,14,15,13,12,16,9,17,8,18,19; "Average orders" = 20,7,21,22,23,6,0,1; "Fewest orders"= remaining values in order_hour_of_day.

In [ ]:
# create for-loop if statement labeling "Most orders", "Average orders", and "Fewest orders"
result_2 = []

for value in ord_prod_merge["order_hour_of_day"]:
    if value in [10,11,14,15,13,12,16,9,17,8,18,19]:
        result_2.append("Most orders")
    elif value in [20,7,21,22,23,6,0,1]:
        result_2.append("Average orders")
    else: 
        result_2.append("Fewest orders")

In [ ]:
result_2

In [ ]:
# Create new column "busiest_period_of_day" in ords_prods_merge.
df_ord_prod_merge['busiest_period_of_day'] = result_2

In [22]:
df.shape

(1000000, 16)

## 6. Print the frequency of "busiest_period_of_day" column

In [ ]:
# print value counts in "busiest_period_of_day" column
df_ord_prod_merge['busiest_period_of_day'].value_counts(dropna = False)

## 7. Export dataframe as pickle file to 'prepared Data' folder

In [ ]:
# Export data "pkl"
df_ord_prod_merge.to_pickle(os.path.join(path,'orders_products_merged_variables.pkl'))